{% extends "layout.full.twig" %}

{% block title %}{{ LNG.lm_changelog }}{% endblock %}
{% block content %}
<div class="content_page">
	<div class="title">
		{{ LNG.lm_changelog }}
	</div>

	<div>
		<table style="width: 100%;">
			<tr>
				<td class="left" style="padding: 0 10px">{{ ChangelogList }}</td>
			</tr>
		</table>
	</div>
</div>
{% endblock %}