{% include "ins_header.twig" %}
<tr>
	<td colspan="2">
		<div class="installcontent">
			<div id="main" class="left">
				<div class="fatalerror"><p>{{ message|raw }}</p></div>
				<div><p>
					<a href="index.php?mode=install&step=7&amp;username={{ username }}&amp;email={{ mail }}"><button>{{ LNG.back }}</button></a>
				</p></div>
			</div>
		</div>
	</td>
</tr>
{% include "ins_footer.twig" %}