{% if smarty is defined.get.reload %}
{% if GET.reload == 't' %}
<script type="text/javascript">
parent.topFrame.document.location.reload();
</script>
{% elseif GET.reload == 'l' %}
<script type="text/javascript">
parent.rightFrame.document.location.reload();
</script>
{% elseif GET.reload == 'r' %}
<script type="text/javascript">
top.document.location.reload();
</script>
{% endif %}
{% endif %}
</body>
</html>